/* GENERAL */

body {
  font-family: "Lato", sans-serif;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}
section {
  padding: 45px 0px 80px 0px;
}
section .heading {
  text-align: center;
  padding-bottom: 40px;
}
section .heading h2 {
  text-transform: uppercase;
}
.divider {
  width: 100px;
  border-bottom: #47749a 2px solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
ul,
ol {
  list-style: none;
}

/* MENU */

.navbar {
  background: #47749a;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar li a:hover,
.navbar li.active a {
  color: #47749a !important;

  transition: all 0.2s ease-in 0s;
}


/* ABOUT */

#about {
  padding-top: 100px;
  background: #47749a;
}
.profile-picture {
  text-align: center;
  margin: 0 auto;
}
#about .heading h1 {
  color: white;
  text-transform: uppercase;
  margin-top: 25px;
}
#about .heading h3 {
  color: black;
}
.button1 {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}
.button1:hover {
  background: white;
  color: #47749a;
  text-decoration: none;
}

/* SKILLS */

#skills {
  background: white;
}
#skills .heading h2 {
  color: #47749a;
}
#skills .progress {
  margin: 30px 20px;
  height: 50%;
  background: #ddd;
  position: relative;
}
#skills .progress-bar {
  background: #47749a;
}
#skills .progress-bar h5 {
  text-shadow: 1px 1px 1px black;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 7px;
}

/* EXPERIENCE */

#experience {
  background: #47749a;
}
.white-divider {
  width: 100px;
  border-bottom: white 2px solid;
  margin: 0 auto;
  margin-bottom: 15px;
}
#experience .heading h2 {
  color: white;
}
.timeline {
  padding: 30px 10px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background: #333;
  left: 50%;
  margin-left: -2.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline li .timeline-badge {
  color: #47749a;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}
.timeline-panel-container {
  width: 50%;
  float: left;
}
.timeline-panel-container-inverted {
  width: 50%;
  float: right;
}
.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px white solid;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px;
}
.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid white;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
}
.timeline-heading h4 {
    color: #47749a;
}

/* CURSUS */

#education {
    background: white;
}
#education .heading h2 {
    color: #47749a ;
}
.education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5 {
    color: #888888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block i {
    font-size: 40px;
}
.education-block h3 {
    color: #47749a;
}
.education-block h4 {
    margin-bottom: 20px;
}
.education-block p {
    font-weight: bold;
}
.education-block .divider {
    margin-bottom: 20px;
}

/* RECOMMANDATION */
#recommandations {
  background: #47749a;
}
#recommandations .heading h2 {
color: white;
}
.carousel-contol-prev,
.carousel-contol-next {
  background-image: none;
  color: #333;
}
.carousel-indicators{
  bottom: -25px;
  margin: auto;

}
#myCarousel .item {
padding: 40px 30px;
}
#myCarousel .carousel-item h3{
  color: white;
  font-style: italic;
}

/* FOOTER */ 
footer {
  padding: 20px 0 40px;
}
footer i {
  font-size: 25px;
  margin: 20px;
  color: #47749a;
  height: 30px;
}
footer i:hover {
  font-size: 30px;
  transition: all 0.1s ease-in 0s;
}
footer h5 {
  color: #47749a;
  font-weight: bold;
}